.container_ADM {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;

    img {
        width: 40rem;

        @media screen and (max-width: 1360px) {
            width: 20rem;
        }
    }

    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    @media screen and (max-width: 500px) {}

    @media screen and (max-width: 375px) {}
}

.cont_img {
    padding: 1rem 5rem 1rem 5rem;

    @media screen and (max-width: 1360px) {
        padding: 1rem 3rem 1rem 3rem;
    }

    @media screen and (max-width: 768px) {
        padding: 1rem 1rem 1rem 1rem;
    }
}

.cont_text {
    padding: 1rem 10rem 1rem 5rem;

    @media screen and (max-width: 1360px) {
        padding: 1rem 3em 1rem 3rem;
    }

    @media screen and (max-width: 768px) {
        padding: 1rem 1rem 1rem 1rem;
    }

    p {
        font-size: 1.2rem;
        font-weight: bold;
        text-align: justify;

        @media screen and (max-width: 1360px) {
            font-size: 0.9rem;
        }
    }

    @media screen and (max-width: 1360px) {}

    @media screen and (max-width: 768px) {}

    @media screen and (max-width: 500px) {}

    @media screen and (max-width: 375px) {}
}