.container_navbar {
    margin-left: 4rem;
    width: 90%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem 1.5rem 2rem;
    background-color: #ff5500;
    position: fixed;

    h3 {
        margin: 0;
        padding: 1rem;
        color: #000000;
        border-left: 3px solid;
        border-right: 3px solid;
        border-radius: 1rem;
        font-size: 1.5rem;
        font-weight: bold;
    }

    a {
        text-decoration: none;
        padding: 1rem;
        color: #fff;
        font-size: 1.5rem;
        font-weight: bold;
        transition: all .3s;

        &:hover {
            color: #000000;
            border-left: 3px solid;
            border-right: 3px solid;
            border-radius: 1rem;

        }

    }
}

.button_H3 {
    display: flex;

    button {
        display: none;
    }

}